
  <div class="card card-body">
    <p><%= @question %></p>
    <em><p>--YOU</p></em>
  </div>
  <div class="card card-body">
    <p><strong><%= @answer %></strong></p>
    <em><p>--COACH</p></em>
  </div>

<%= link_to 'Speak again, fool', ask_path %>
