<p>Tell your coach anything</p>

<form action="<%= answer_path %>" method="get">
  <div class="input-group col-8 p-0">
     <input type="text" class="form-control" name="question">
     <span class="input-group-btn">
          <input class=" btn btn-danger" type="submit" value="Ask!">
     </span>
  </div>
</form>
